# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.vercel
.env*.local

# Ignore Supabase client secrets
src/lib/supabase/client.ts

# ⚠️ WARNING: Sensitive Supabase credentials
# Never commit your credentials (such as API keys or service role keys) to version control.
# Remove below if present and add them to a .env file, ignored above.
# NEXT_PUBLIC_SUPABASE_URL=https://pamdsyjbfykbmwawlgxj.supabase.co
# NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBhbWRzeWpiZnlrYm13YXdsZ3hqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3OTI5MzUsImV4cCI6MjA5MTM2ODkzNX0.G0NDxbfJZx21ah9lyFd-JUvWvO6pcCpuU1Ytwj9Xy8s
# SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBhbWRzeWpiZnlrYm13YXdsZ3hqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTc5MjkzNSwiZXhwIjoyMDkxMzY4OTM1fQ.UZEPnt_F5gpupdBUtHM5pTg-cRxmBqtPCXwokytDgkg

